#
# Input misc drivers sx933x configuration
#

config INPUT_SX933x
	tristate "SX933x_SAR_sensor"
	depends on I2C
	default y
	help
	  Say Y to enable the SAR detection application, if N here not to use the
	  this SAR sensor

